.card-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Projects{
    margin-top: 2rem;
    font-size: 7rem;
    text-align: left;
    color: #1e6fd9;
    font-weight: bold;
}


