@tailwind base;
@tailwind components;
@tailwind utilities;

.hello{
    z-index: 100;
}

.resume{
    position:fixed;
    color:white;
    right:50px;
    z-index:100;
    bottom: 50px;
    width:70px;
    height:70px;
    animation:resume_scroll 1s infinite ;
} 

@keyframes resume_scroll  {
    0%{
        bottom:50px
    }
    50%{
        bottom:55px
    }

    100%{
        bottom:50px;
    }
}

.img_resume{
    width: 100%;
    height: 100%;
}